# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Media and static files
/media/
staticfiles/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# macOS specific
.DS_Store

# Node modules (if using npm/yarn for frontend)
node_modules/

# Packaging
build/
dist/
*.egg-info/
